/*!CK:3442156090!*//*1382928460,178158909*/

#pageLogo._5ino, #pageLogo._52c4{margin-left:-16px;position:absolute}
#facebook #pageLogo._52c4 a{background-color:transparent;height:20px;padding:10px 4px 11px 16px;position:relative;width:20px}
#pageLogo._52c4 a{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -53px}
#pageLogo._52c4 a:focus, #pageLogo._52c4 a:hover{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:-4px -5px}
#pageLogo._52c4 a:active{background-image:url(/rsrc.php/v2/yH/r/fiGHywTEKgB.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -5px}
._55bh{position:relative}
._55bh:after{background:#405791;content:'';height:17px;left:1px;position:absolute;top:2px;width:1px}
._56lq{float:left;width:12px}
.litestandNavItem{padding-right:6px}
._57ve{vertical-align:-2px}
.hasSmurfbar #pageNav ._4z6w#navAccount{margin-left:0;margin-right:-3px}
.hasSmurfbar #pageNav ._4z6w#navAccount #navAccountLink, .hasSmurfbar #pageNav ._4z6w.openToggler#navAccount #navAccountLink, .hasSmurfbar #pageNav ._4z6w.openToggler#navAccount #navAccountLink:hover{border:1px solid transparent;border-bottom:0;border-radius:2px 2px 0 0;height:13px;padding:7px 7px 4px}
.hasSmurfbar #pageNav ._4z6w#navAccount #navAccountLink .menuPulldown{background-image:url(/rsrc.php/v2/yc/r/oa7aDV0gjwo.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:-127px -20px!important;height:8px;margin:0;width:11px}
.hasSmurfbar #pageNav ._4z6w#navAccount #navAccountLink:hover .menuPulldown, .hasSmurfbar #pageNav ._4z6w.openToggler#navAccount #navAccountLink .menuPulldown{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:-34px -180px!important}
.hasSmurfbar #pageNav ._4z6w.openToggler#navAccount #navAccountLink, .hasSmurfbar #pageNav ._4z6w.openToggler#navAccount #navAccountLink:hover{border:1px solid rgba(100, 100, 100, .4);border-bottom:0}
._4z6w#navAccount .contextualHelp, ._4z6w#navAccount .navigation{border:1px solid rgba(100, 100, 100, .4);border-radius:3px 0 3px 3px;box-shadow:0 3px 8px rgba(0, 0, 0, .25);padding:6px 0;right:0}
#pageNav ._4z6w#navAccount .navSubmenu{color:#232b37;font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;height:20px;line-height:20px}
#pageNav ._4z6w#navAccount .navSubmenu input{color:#232b37;height:20px}
#pageNav ._4z6w#navAccount .navSubmenu:hover, #pageNav ._4z6w#navAccount .navSubmenu:focus, #pageNav ._4z6w#navAccount .navSubmenu:active, #pageNav ._4z6w#navAccount .selected label.navSubmenu{border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;color:#fff}
#pageNav ._4z6w#navAccount .navSubmenu:hover input, #pageNav ._4z6w#navAccount .navSubmenu input:focus, #pageNav ._4z6w#navAccount .navSubmenu input:active, #pageNav ._4z6w#navAccount .selected input{color:#fff}
#pageNav ._4z6w#navAccount .menuDivider{background:#d3d7dc}
._5cop{padding-left:17px}
html .hasSmurfbar #pageNav #navPrivacy._5cop ._59fc{padding:0}
.hasSmurfbar ._5cop ._59fb{background-image:url(/rsrc.php/v2/yC/r/2J6nYNNdnz-.png);background-repeat:no-repeat;background-size:auto;background-position:0 -28px;margin-top:8px}
.hasSmurfbar ._5cop ._59fc:hover ._59fb{background-image:url(/rsrc.php/v2/yC/r/2J6nYNNdnz-.png);background-repeat:no-repeat;background-size:auto;background-position:0 -14px}
.hasSmurfbar ._5cop ._59fc:active ._59fb, .hasSmurfbar ._5cop .openToggler ._59fc ._59fb{background-image:url(/rsrc.php/v2/yC/r/2J6nYNNdnz-.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._5bfm #headNav #navSearch.roundedBox{width:397px}
._5bfn #headNav #navSearch.roundedBox{width:398px}
#facebook ._5bfn #pageLogo{margin-top:1px}
._5bfm #navSearch.roundedBox .uiSearchInput{border:none}
._5bfm #headNav .roundedBox .uiTypeahead{background-color:#374f8a;border:1px solid #344a81;border-bottom:none;border-radius:0;border-top:none}
._5bfm .roundedBox .smurfbarBottomBorder{background-image:url(/rsrc.php/v2/yc/r/Ook3jCuPQSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -10px;height:5px;margin-left:-2px;width:399px}
._5bfm .roundedBox .smurfbarTopBorder{background-image:url(/rsrc.php/v2/yc/r/Ook3jCuPQSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -16px;height:4px;margin-left:-2px;margin-top:-2px;width:399px}
._5bfn #headNav .roundedBox .uiTypeahead{background-color:#fff;border:none}
._5bfn .roundedBox .smurfbarBottomBorder{background-image:url(/rsrc.php/v2/yc/r/Ook3jCuPQSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:4px;width:400px}
._5bfn .roundedBox .smurfbarTopBorder{background-image:url(/rsrc.php/v2/yc/r/Ook3jCuPQSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;margin-top:-2px;width:400px}
._5bfm #navSearch.roundedBox .uiSearchInput{margin-left:2px}
._5bfm #navSearch.roundedBox .uiSearchInput, ._5bfm #navSearch.roundedBox .uiSearchInput input, ._5bfm #navSearch.roundedBox .uiSearchInput button{background-color:transparent;width:364px}
._5bfm #headNav #navSearch.roundedBox .uiTypeahead{height:19px;margin-left:-2px}
._5bfn #headNav #navSearch.roundedBox .uiTypeahead{height:20px}
._5bfm #navSearch.roundedBox .uiSearchInput .inputtext{color:#fff;font-size:15px;margin-top:-1px;padding-top:0}
._5bfn #navSearch.roundedBox .uiSearchInput .inputtext{color:#141823;line-height:22px}
._5bfo #navSearch.roundedBox .uiSearchInput .DOMControl_placeholder{color:#b2c0e5}
._5bfo #navSearch.roundedBox .uiSearchInput input::-webkit-input-placeholder{color:#7487b8}
._5bfo #navSearch.roundedBox .uiSearchInput input:-moz-placeholder{color:#7487b8}
._5bfo #navSearch.roundedBox .uiSearchInput input:-ms-input-placeholder{color:#7487b8}
._5bfn #navSearch.roundedBox .uiSearchInput input::-webkit-input-placeholder{color:#adb2bb}
._5bfn #navSearch.roundedBox .uiSearchInput input:-moz-placeholder{color:#adb2bb}
._5bfn #navSearch.roundedBox .uiSearchInput input:-ms-input-placeholder{color:#adb2bb}
._5bfn #navSearch.roundedBox .uiSearchInput .DOMControl_placeholder{color:#6a7180}
._5bfm #navSearch.roundedBox .uiSearchInput button{background-image:url(/rsrc.php/v2/yc/r/Ook3jCuPQSE.png);background-repeat:no-repeat;background-size:auto;background-position:-53px -21px;height:15px;right:3px;top:2px;width:22px}
._5bfn #navSearch.roundedBox .uiSearchInput button{background-image:url(/rsrc.php/v2/yc/r/Ook3jCuPQSE.png);background-repeat:no-repeat;background-size:auto;background-position:-30px -21px;right:1px;top:3px}
#pageNav._5bfj .tinyman{height:22px;line-height:22px;padding:0 6px 0 0}
.lightNav #pageNav._5bfj .tinyman{border-left:none}
._5bfg #pageNav._5bfj .tinyman .navLink:after, ._5bfg #pageNav._5bfj .tinyman .navLink:hover::after{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -405px;background-color:transparent;content:'';display:block;height:21px;left:10px;position:absolute;top:3px;width:21px}
#pageNav._5bfj .tinyman .headerTinymanPhoto{border:0;border-radius:0;height:19px;margin:4px 0 0;width:19px}
#pageNav._5bfj .tinyman .headerTinymanName{padding-left:6px;padding-right:0}
#pageNav._5bfj .litestandNavItem a.navLink, #pageNav._5bfj #navHome a, #pageNav._5bfj #navTimeline a, #pageNav._5bfj #navFindFriends a, #pageNav._5bfj #navPost a{border-right:none;color:#fff;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;padding-left:11px;padding-right:1px;text-shadow:0 -1px rgba(0, 0, 0, .5)}
#pageNav._5bfj .litestandNavItem:hover a, #pageNav._5bfj #navHome:hover a, #pageNav._5bfj #navTimeline:hover a, #pageNav._5bfj #navFindFriends:hover a, #pageNav._5bfj #navPost:hover a, #pageNav._5bfj #navHome a:focus, #pageNav._5bfj #navTimeline a:focus, #pageNav._5bfj #navFindFriends a:focus, #pageNav._5bfj #navPost a:focus{background:#425691;border-radius:2px;color:#fff;margin-right:-8px;padding-left:11px;padding-right:9px;position:relative;z-index:1}
#pageNav._5bfj #fbRequestsJewel a.jewelButton{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -277px}
#pageNav._5bfj #fbRequestsJewel a.jewelButton:focus, #pageNav._5bfj #fbRequestsJewel a.jewelButton:hover{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -245px}
._5bfj #fbRequestsJewel.hasNew a.jewelButton, ._5bfj #fbRequestsJewel a.jewelButton:active, ._5bfj .notifNegativeBase #fbRequestsJewel.openToggler a.jewelButton, ._5bfj .notifNegativeBase #fbRequestsJewel.openToggler a.jewelButton:hover{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -213px!important}
#pageNav._5bfj #fbMessagesJewel a.jewelButton{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -181px}
#pageNav._5bfj #fbMessagesJewel a.jewelButton:focus, #pageNav._5bfj #fbMessagesJewel a.jewelButton:hover{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -149px}
._5bfj #fbMessagesJewel.hasNew a.jewelButton, ._5bfj #fbMessagesJewel a.jewelButton:active, ._5bfj .notifNegativeBase #fbMessagesJewel.openToggler a.jewelButton, ._5bfj .notifNegativeBase #fbMessagesJewel.openToggler a.jewelButton:hover{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -117px!important}
#pageNav._5bfj #fbNotificationsJewel a.jewelButton{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -373px}
#pageNav._5bfj #fbNotificationsJewel a.jewelButton:focus, #pageNav._5bfj #fbNotificationsJewel a.jewelButton:hover{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-repeat:no-repeat;background-size:auto;background-position:0 -341px}
._5bfj #fbNotificationsJewel.hasNew a.jewelButton, ._5bfj #fbNotificationsJewel a.jewelButton:active, ._5bfj .notifNegativeBase #fbNotificationsJewel.openToggler a.jewelButton, ._5bfj .notifNegativeBase #fbNotificationsJewel.openToggler a.jewelButton:hover{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -309px!important}
.hasSmurfbar ._5bfj #jewelContainer #fbRequestsJewel.fbJewel .beeperNub{right:67px}
.hasSmurfbar ._5bfj #jewelContainer #fbMessagesJewel.fbJewel .beeperNub{right:35px}
.hasSmurfbar ._5bfj #jewelContainer #fbNotificationsJewel.fbJewel .beeperNub{right:4px}
.hasSmurfbar ._5bfj #jewelContainer #fbRequestsFlyout.fbJewelFlyout{right:-62px}
.hasSmurfbar ._5bfj #jewelContainer #fbMessagesFlyout.fbJewelFlyout{right:-30px}
.hasSmurfbar ._5bfj #jewelContainer #fbNotificationsFlyout.fbJewelFlyout{right:0}
.sp_4g3npi{background-image:url(/rsrc.php/v2/yc/r/Ook3jCuPQSE.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:4px;width:400px}
.sx_ab1ea0{width:22px;height:15px;background-position:-30px -21px}
.sx_d7d631{width:399px;height:5px;background-position:0 -10px}
.sx_6eebd0{width:399px;background-position:0 -16px}
.sx_2d5a4a{background-position:0 0}
.sx_702b9b{width:22px;height:15px;background-position:-53px -21px}
.sx_5a4cf8{background-position:0 -5px}
.sx_4c4b5c{width:29px;height:29px;background-position:0 -21px}
.sp_5x6oic{background-image:url(/rsrc.php/v2/yC/r/2J6nYNNdnz-.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:15px}
.sx_4be485{background-position:0 0}
.sx_873e3d{background-position:0 -14px}
.sx_185403{background-position:0 -28px}
.sp_drvavt{background-image:url(/rsrc.php/v2/y7/r/s1fSgFqSNVD.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_8c9289{background-position:-32px -213px}
.sx_9c8108{width:21px;height:21px;background-position:-16px -63px}
.sx_b7f20e{width:29px;height:29px;background-position:-16px -11px}
.sx_ca4334{width:11px;height:15px;background-position:-34px -149px}
.sx_f7666f{background-position:-32px -230px}
.sx_cac347{width:13px;height:15px;background-position:-34px -133px}
.sx_8a233e{width:14px;height:15px;background-position:-34px -117px}
.sx_a23f6e{width:14px;height:14px;background-position:-34px -165px}
.sx_62e38f{width:22px;height:21px;background-position:-4px -219px}
.sx_879940{width:22px;height:21px;background-position:-4px -251px}
.sx_7ad3de{width:22px;height:21px;background-position:-4px -283px}
.sx_768885{width:21px;height:21px;background-position:-6px -124px}
.sx_fea8e8{width:21px;height:21px;background-position:-6px -156px}
.sx_f190e9{width:21px;height:21px;background-position:-6px -188px}
.sx_29bace{width:19px;height:21px;background-position:-6px -315px}
.sx_cef656{width:19px;height:21px;background-position:-6px -347px}
.sx_28ebad{width:19px;height:21px;background-position:-6px -379px}
.sx_dd6c05{width:11px;height:8px;background-position:-34px -180px}
.sx_a3cb90{width:21px;height:21px;background-position:0 -405px}
.sx_5bb757{background-position:-32px -247px}
.sx_36f8d4{background-position:-32px -264px}
.sx_d34ca1{background-position:-32px -281px}
.sx_315804{background-position:-32px -298px}
.sx_e2b7ae{background-position:-32px -315px}
.sx_135f0a{background-position:-32px -332px}
.sx_85b609{background-position:-32px -349px}
.sx_717ee5{width:15px;height:8px;background-position:0 -427px}
.sx_1b8ade{background-position:-32px -366px}
.sx_bc0487{background-position:-32px -383px}
.sx_7cb1d4{background-position:-22px -405px}
.sx_804a67{width:20px;height:20px;background-position:-20px -96px}
.selected .sx_804a67{background-position:0 -96px}

#bootloader_3L_ou { height: 42px; }
.bootloader_3L_ou { display:block !important; }