/*!CK:1142787638!*//*1382580850,173209391*/

._59g8{min-width:730px}
._57pt.home #globalContainer, ._57pt.home #blueBarHolder #pageHead{width:980px}
._57pt.home #blueBar{min-width:980px}
._57pt.home #globalContainer #content{margin:0 90px}
._57pt.home #leftCol{display:none}
._57pt.home #contentCol{margin-left:0}
._57pt.home #pageFooter{margin-left:-1px}
._57pt.home #contentCurve{height:0}
._57pt .fbFeedTicker, ._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._57pt ._56h3, ._57pt .fbChatSidebar{font:12px/16px Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}
._5c81._57pt .fbFeedTicker, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6{font:11px/14px 'lucida grande',tahoma,verdana,arial,sans-serif}
html ._57pt .fbDockWrapper{right:0}
._57pt #pagelet_rhc_ticker{display:none}
html ._57pt._4g5r #globalContainer, html ._4_f0 #globalContainer, html ._4g5r #blueBar #pageHead, ._4g5r #blueBar #pagesVoiceBarContent{padding-right:0}
._4kdq ._57pt.fbx #globalContainer{padding:0 12px}
._4kdq ._504q.fbx #globalContainer{padding:0}
._4g5r #blueBar #pagesVoiceBarContent{left:0}
html ._57pt._4g5r._4_f0 #blueBarHolder #blueBar, html ._5ap2._57pt._4_f0 #blueBarHolder #blueBar, html ._57pt._4_f0 ._4_37{margin-left:0}
._4_f0 #pagelet_sidebar{display:none}
._57pt._4g5r .fbPageBannerInner, ._57pt._4g5r ._53df, html ._57pt._4g5r #blueBarHolder #blueBar{margin-left:205px}
._5ap2._57pt .fbPageBannerInner, ._5ap2._57pt ._53df, html ._5ap2._57pt #blueBarHolder #blueBar, ._4kdq ._57pt .fbPageBannerInner, ._4kdq ._57pt ._53df, html._4kdq ._57pt #blueBarHolder #blueBar{margin-left:56px}
._57pt._4g5r .fbPageBannerInner{left:0;width:initial}
html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder.slim, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder #blueBar{height:66px}
html body._5bci .fbChatSidebar{background:transparent;border-left:1px solid rgba(0, 0, 0, .1)}
html body._5bci._5c81 .fbChatSidebar{background:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);box-shadow:inset 2px 0 2px -2px #b2b9c9;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;z-index:300}
.timelineLayout ._5bcj .fbChatSidebarBody{background-color:#e7ebf2}
._4lh ._5bcj .fbChatSidebarBody, ._4__a._6nw ._5bcj .fbChatSidebarBody{background-color:#e9eaed}
._5bcl:before{background:rgba(255, 255, 255, .35);bottom:0;content:'';left:0;position:absolute;top:0;width:1px}
html ._5ap0:after, html body._5bci .fbChatSidebar:after{content:none}
html ._5bci #blueBarHolder #blueBar{padding-right:0;z-index:301}
html ._5c81 #blueBarHolder #blueBar{z-index:300}
html.sidebarMode ._5bci #blueBarHolder #blueBar{margin-right:0;padding-right:205px}
._5bmm{bottom:0;min-height:40px;position:absolute;width:56px}
._5dqg ._5bmm{position:static;width:100%}
._5dqb ._5bmm{display:none}
._5bmh{display:block;height:100%;position:relative}
._5bmh:focus{background:#1f2228;outline:none}
._5bmh:active, ._5bmh:hover{background:transparent}
._5bmi{height:1px;position:absolute;width:56px}
._5dqg ._5bmi{margin-top:-8px}
._5drk{height:10000px;position:relative;top:-12px}
._5bmn{margin-left:17px}
._5dqd{margin:24px 0 0 22px}
._57ix{height:1px;left:0;position:absolute;top:0;width:1px}
._57yp.contentAfter .uiScrollableAreaTrack:hover, ._57yp.contentBefore .uiScrollableAreaTrack:hover, ._57yp.contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.uiScrollableAreaDragging .uiScrollableAreaTrack{background:rgba(0, 0, 0, .15)}
._57yp .uiScrollableAreaGripper{background:rgba(255, 255, 255, .5);border-color:transparent}
._4kdq ._56ci .fbChatSidebar .uiScrollableAreaBody{min-height:0}
._4kdq ._56ci .fbChatSidebarBody{overflow:hidden}
._56ci ._5ap0 ._4_vf, ._4kdq ._56ci .fbChatSidebar ._4_vf{display:block}
._4kdq ._56ci ._56du ._4_vf, ._56ci ._5ap0._5dqb ._4_vf{display:none}
._4kdq ._56ci ._52i7:focus, ._4kdq ._56ci ._52i7:hover{background-color:#1f2228;outline:none}
._56ci.ie10 ._5ap0 a:hover ._4_vf, ._4kdq ._56ci.ie10 a:hover ._4_vf{background-image:url(/rsrc.php/v2/y4/r/-PAXP-deijE.gif)}

#bootloader_cRUdy { height: 42px; }
.bootloader_cRUdy { display:block !important; }