/*!CK:3777136723!*//*1382909131,178129733*/

.fbChatSidebar{background-clip:padding-box;background-color:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);box-shadow:inset 2px 0 2px -2px #b2b9c9;display:none;height:100%;position:fixed;right:0;top:0;width:205px;z-index:300}
.sidebarMode .fbChatSidebar{display:block}
.fbChatSidebar .fbChatSidebarBody{overflow:hidden;position:relative}
.fbChatSidebar .scrollableOrderedList{height:100%;width:100% !important}
.fbChatSidebar .scrollableOrderedList .uiScrollableAreaTrack{top:10px}
.fbChatSidebar .fbChatOrderedList, .fbChatSidebar .fbChatTypeaheadView{padding-top:8px}
.fbChatSidebar .fbChatSidebarMessage{background-color:#fff;border-top:1px solid #ccd0db;box-shadow:inset 0 1px #fafafa;display:none;padding:8px}
.fbChatSidebar.notice .fbChatSidebarMessage, .fbChatSidebar.error .fbChatSidebarMessage, .fbChatSidebar.offline .fbChatSidebarMessage, .fbChatSidebar.blackbird .fbChatSidebarMessage, .fbChatSidebar.upsell .fbChatSidebarMessage{display:block}
.fbChatSidebar.blackbird .fbChatSidebarMessage .message, .fbChatSidebar.upsell .fbChatSidebarMessage .message{color:#333}
.fbChatSidebar .fbChatSidebarMessage .img{float:left;margin-top:3px}
.fbChatSidebar.notice .fbChatSidebarMessage .img{display:none}
.fbChatSidebar.error .fbChatSidebarMessage .img{margin-top:7px}
.fbChatSidebar.offline .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/y-/r/DUQLd4S9N62.png);background-repeat:no-repeat;background-size:auto;background-position:-49px -108px;height:10px;width:16px}
.fbChatSidebar.error .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -65px;height:13px;width:14px}
.fbChatSidebar.offline .fbChatSidebarMessage .message, .fbChatSidebar.error .fbChatSidebarMessage .message{margin-left:24px}
.fbChatSidebar .fbChatSidebarMessage .message .fbChatReconnectLink{white-space:nowrap}
._5qqe{height:37px}
.hasSmurfbar ._5qqe{height:42px}
div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -65px;border:0;height:24px;width:26px}
.highContrast div._5qth .uiCloseButton{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.highContrast div._5qth .uiCloseButton::before{content:attr(title)}
.fbSidebarFavoriteList div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-199px -33px}
div._5qth .uiCloseButton:hover{background-color:#fff}
div._5qth .openToggler .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-27px -65px;border:0 !important;border-left:1px solid #3b5998 !important;border-right:1px solid #3b5998 !important;margin:0 -1px}
div._5qth .openToggler .uiSelectorMenuWrapper{margin-right:-1px}
._5qth .uiMenuItem .itemLabel{white-space:normal;width:120px}
._5qth .uiMenu .disabled{display:none}
._5qth .uiMenu .checked .itemAnchor{font-weight:normal}
.offline ._5qth .fbChatGoOnlineItem, .upsell ._5qth .fbChatGoOnlineItem, ._5qth .fbChatGoOfflineItem{display:block}
.offline ._5qth .fbChatGoOfflineItem, .upsell ._5qth .fbChatGoOfflineItem, ._5qth .fbChatGoOnlineItem{display:none}
._5pr2.fbChatSidebar div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/y-/r/kF1nEoXGXl5.png);background-repeat:no-repeat;background-size:auto;background-position:-3px -356px;background-color:transparent;border-left-color:transparent !important;border-right-color:transparent !important;height:26px}
._5pr2 div._5qth .uiCloseButton:hover, ._5pr2 div._5qth .openToggler .uiCloseButton, ._5pr2 div._5qth .uiCloseButton:active{background-image:url(/rsrc.php/v2/y-/r/kF1nEoXGXl5.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -356px}
._5468.fbChatSidebar div._5qth .uiCloseButton, ._4g5r ._56h3 div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-48px -33px;background-color:transparent;height:32px;width:24px}
._5468.fbChatSidebar ._5qth .uiCloseButton:hover, ._4g5r ._56h3 ._5qth .uiCloseButton:hover{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -33px}
._5468.fbChatSidebar ._5qth .openToggler .uiCloseButton, ._5468.fbChatSidebar ._5qth .uiCloseButton:active, ._4g5r ._56h3 ._5qth .openToggler .uiCloseButton, ._4g5r ._56h3 ._5qth .uiCloseButton:active{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-24px -33px;background-color:#333741;border-left-color:transparent !important;border-right-color:transparent !important}
._5bcj.fbChatSidebar ._5qth{float:right}
._5bcj.fbChatSidebar div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-99px -35px;height:27px;width:21px}
._5bcj.fbChatSidebar ._5qth .uiCloseButton:hover, ._5bcj.fbChatSidebar ._5qth .openToggler .uiCloseButton, ._5bcj.fbChatSidebar ._5qth .uiCloseButton:active{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-73px -35px;background-color:transparent}
.fbChatSidebar .fbChatTypeaheadView{bottom:0;position:absolute;top:auto;width:100%}
._d3c{display:none}
.canvas ._d3c.img, .music ._d3c.img{margin-right:3px}
._6nw .music ._d3c.img{margin-right:7px}
._42g5 .music ._d3c, .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yL/r/p6FV-SxbpZT.png);background-repeat:no-repeat;background-size:auto;background-position:-301px -979px;display:inline-block;height:12px;margin-right:5px;margin-top:4px;width:10px}
._42g5 .birthday ._d3c, .fbChatOrderedList .birthday ._d3c{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-198px -88px;display:inline-block;height:16px;margin-bottom:1px;margin-right:2px;vertical-align:middle;width:16px}
._5j5x .birthday ._d3c{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-154px -109px;height:10px;margin-bottom:3px;margin-right:5px;width:9px}
._6nw .birthday ._d3c{margin-bottom:4px}
._d3d{padding:8px 10px 10px}
._d3d ._d3e{border-bottom:1px solid #e9e9e9;margin-bottom:8px;padding:0 0 3px}
._5468 ._42g5 .music ._d3c, ._5468 .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-95px -65px;height:10px;margin-top:0;width:8px}
._5bcj ._42g5 .music ._d3c, ._5bcj .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yL/r/p6FV-SxbpZT.png);background-repeat:no-repeat;background-size:auto;background-position:-303px -955px;height:9px;width:7px}
._5468 ._42g5 .canvas ._d3c, ._5468 .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-82px -65px;height:13px;width:13px}
._42g5 .canvas ._d3c, .fbChatOrderedList .canvas ._d3c, ._5bcj ._42g5 .canvas ._d3c, ._5bcj .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-69px -65px;display:inline-block;height:12px;width:12px}
.fbSidebarGripper{border-bottom:1px solid #e9eaee;border-top:1px solid #cad0db;cursor:ns-resize;width:100%}
.fbSidebarFavoriteList .fbSidebarGripper{border-bottom:1px solid #fdfdfe}
.fbSidebarGripper div{background:#e4e7f0;border-bottom:1px solid #bdc5d2;border-top:1px solid #f0f1f6;height:4px;position:relative}
.fbSidebarGripper div span{background:#f0f1f6;border-top:1px solid #cad0db;display:block;height:1px;left:50%;margin-left:-6px;margin-top:1px;position:absolute;width:12px}
div.fbSidebarGripper.disabledGrip{border-color:#ccc;border-style:solid;border-width:1px 0 0;cursor:auto;height:0;margin:0;overflow:hidden;padding:0;position:static;width:auto}
.fbSidebarGripper.disabledGrip div, .fbSidebarGripper.disabledGrip:before{display:none}
._4mq3{height:25px;min-width:201px}
.presence_error ._4mq3, .sidebarMode ._4mq3{display:none}
._4kdq ._4mq3{display:block}
._4mq3.openToggler{z-index:99}
._4mq3.openToggler .fbNubButton{display:none}
._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yx/r/rcbc6GJHfE8.png);background-repeat:no-repeat;background-size:auto;background-position:0 -27px;float:left;height:10px;margin:3px 4px 0 0;width:16px}
.offline ._4mq3 .fbNubButton .icon, .offline.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/y-/r/DUQLd4S9N62.png);background-repeat:no-repeat;background-size:auto;background-position:-49px -108px;height:10px;margin:3px 4px 0 0;width:16px}
.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -65px;height:13px;margin-top:1px;width:14px}
._4mq3 .fbNubButton .label{line-height:15px;margin-right:4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4mq3 .fbNubButton .label .count{color:#333}
._4mq3 .fbNubFlyout{bottom:0;min-height:280px;width:100%}
._5q5b ._4mq3 .fbNubFlyout{bottom:-3px}
._4mq3 .fbNubFlyoutInner{border-bottom:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarLabel{padding:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarTextWrapper{margin:3px 3px 3px 5px}
._4mq3 .fbChatOrderedList, ._4mq3 .fbChatTypeaheadView{padding:5px 0}
._4mq3 .fbChatTypeahead, ._4mq3 .fbChatTypeahead .wrap{border-style:none}
._4mq3 .fbChatTypeahead{border-top:1px solid #dadfea}
._4mq3 .fbChatTypeahead input{background-image:url(/rsrc.php/v2/yx/r/rcbc6GJHfE8.png);background-repeat:no-repeat;background-size:auto;background-position:left -2px;-moz-box-sizing:border-box;height:24px;padding-left:20px;padding-right:25px}
._4mq3 div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yH/r/fiGHywTEKgB.png);background-repeat:no-repeat;background-size:auto;background-position:-16px -418px;border:0 !important;box-shadow:none;height:24px;width:22px}
._4mq3 div._5qth .uiCloseButton:active, ._4mq3 div._5qth .uiCloseButton:focus, ._4mq3 div._5qth .uiCloseButton:hover, ._4mq3 div._5qth .openToggler .uiCloseButton, ._4mq3 div._5qth .openToggler .uiCloseButton:active, ._4mq3 div._5qth .openToggler .uiCloseButton:focus, ._4mq3 div._5qth .openToggler .uiCloseButton:hover{background-image:url(/rsrc.php/v2/yH/r/fiGHywTEKgB.png);background-repeat:no-repeat;background-size:auto;background-position:-39px -418px;background-color:#4a66a0;margin:0}
._4mq3 ._4mq7{background-color:#fff;border-top:1px solid #ccd0db;display:none;padding:6px}
.error ._4mq3 ._4mq7{display:block}
.error ._4mq3 ._4mq7 .img{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -65px;float:left;height:13px;margin-top:7px;width:14px}
._4mq3 ._4mq1{margin-left:24px}
.rogerMarketingCallout .learnMoreLink{margin-left:7px}
._50--{bottom:0;direction:ltr;height:25px;left:0;position:fixed;right:0;z-index:300}
._5l9_ ._50--{-moz-backface-visibility:hidden}
._5q5b._50--{height:28px}
html ._6nw ._50--{right:0}
.sidebarMode ._50--{right:205px}
.sidebarMode ._5bci ._50--, .sidebarMode ._5ap2 ._50--{right:205px}
html ._4kdq ._50--{right:0}
.fbDockWrapperLeft{right:auto}
.fbDockWrapperRight{left:auto}
.fbDock{margin:0 15px 0 0}
.fbDock .lNubContainer{float:left}
.fbDock .rNubContainer{float:right}
#fbTranslationsNub .fbNubFlyout{width:219px}
#fbTranslationsNub .xmode_row{line-height:15px;padding:0 10px 2px 10px}
#fbTranslationsNub .xmode_row_last{line-height:15px;margin:0 10px 0 10px;padding:5px 0 10px;border-top:1px solid #e7e7e7}
#fbTranslationsNub .xselect{padding:5px 6px}
#fbTranslationsNub .xselect select{width:100%}
#fbTranslationsNub .translation_options{padding:8px 0}
#fbTranslationsNub .xexplain{margin:5px 10px 0 10px;padding-bottom:5px;line-height:15px;border-bottom:1px solid #e7e7e7;color:#555}
.downloadDialogPositioner .downloadDialog{position:fixed;z-index:301}
.downloadDialogTopLeft .downloadDialog{left:10px;top:48px}
.downloadDialogBottomLeft .downloadDialog{left:10px;bottom:10px}
.downloadDialogIE9Bottom .downloadDialog{left:10px;bottom:108px}
.downloadDialogTitle{border-bottom:1px solid #e5eaf1;background-color:#edeff4}
.downloadDialogStep .downloadDialogStepLabel{padding-top:3px}
.sidebarMode .tickerStoryContent{max-width:158px}
.fbChatSidebar .tickerHeader{display:none}
.fbChatSidebar .ticker_container{border:0 !important;height:100% !important;width:205px !important}
.fbChatSidebar .scrollTopPrompt{width:205px !important}
.fbChatSidebar .fbFeedTicker{height:100% !important;width:100%}
.fbChatSidebar .uiSideHeader{background-color:#d8dfea !important;border-bottom:1px solid #ccd4e2 !important;border-top:0 !important;margin-bottom:0}
.fbChatSidebar .tickerStoryBlock{margin-left:0 !important}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory{background-color:transparent;border-bottom-color:transparent;border-top-color:#d8dfea;line-height:13px;padding-right:5px}
.fbChatSidebar .fbFeedTicker .tickerStoryClickable:hover{border-bottom-color:transparent !important;box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStoryHidden, .fbChatSidebar .fbFeedTicker .tickerStoryHidden:hover{background-color:transparent !important;border-bottom-color:transparent !important;border-top-color:#d8dfea !important}
.fbChatSidebar #pagelet_ticker{height:50%;overflow:hidden;position:relative}
.fbChatSidebar #pagelet_canvas_nav_content{overflow:hidden;position:relative}
.fbChatSidebar .tickerStoryImage{height:28px !important;margin-left:3px !important;width:28px !important}
.fbChatSidebar .fbFeedTicker .tickerStorySelected, .fbChatSidebar .fbFeedTicker .tickerStorySelected:hover{background-position:11px 15px;border-bottom-color:#a8b2ce !important;box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl, .fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl:hover{background-position:178px 15px}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory.tickerNuxStory{background-color:#fff;border-bottom:1px solid #b0b0b0;border-top:1px solid #fff;padding:8px 8px 9px 10px;width:190px;z-index:10}
.fbChatSidebar .sidebarWithFavorites .scrollableOrderedList .uiScrollableAreaTrack{top:25px}
._2px{position:absolute;top:-1px;left:0}
._50d1{border-radius:4px;bottom:30px;left:30px;list-style:none;margin:0;opacity:.96;position:fixed;width:245px;z-index:401}
._6nw ._50d1{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;width:320px}
._50d1 ._a_g{background-color:#fff;border:1px solid #ccc;border-radius:5px 5px 0 0;bottom:-31px;cursor:pointer;font-size:9px;font-weight:bold;padding:3px 5px;position:absolute;text-align:center;width:60px}
._50d1 ._a_g:hover{background-color:#fff9d7;border-color:#eed111}
._3sod{background-color:#e1e6ee;border:1px solid #99a8c7;border-radius:3px;font-size:11px;margin-top:3px;opacity:0;position:relative;top:-30px;-moz-transition:top .2s ease-in-out,
opacity .3s ease-in-out}
._5p3y ._3sod{font-size:12px}
._6nw ._3sod{background-color:#fff;border:1px solid #ccc;border-radius:4px;box-shadow:0 0 4px rgba(0, 0, 0, .2);font-size:12px;margin-top:4px;-moz-transition:top .2s ease-in-out,
opacity .3s ease-in-out,
-moz-box-shadow .2s ease-in-out}
._3soe{opacity:1;top:0}
._3sof{display:none}
._3sod:hover{background-color:#cad1de}
._6nw ._3sod:hover{background-color:#fff;border:1px solid #bbb;box-shadow:0 0 6px rgba(0, 0, 0, .4)}
._3sod ._3sok{display:block;height:28px;margin-right:8px;width:28px}
._3sod ._3soi, ._3sod ._3soi:hover{color:#333;text-decoration:none}
._3sod ._3soj{padding:10px}
._3sod ._3sol{margin-top:-2px;word-wrap:break-word}
._3sod ._3soc{float:right;margin:8px 8px 7px 7px}
._3sod ._3som{color:#777;margin-top:5px}
.fbxPhoto .fbPhotoImageStage{width:100%;-moz-user-select:none}
.fbxPhoto .fbPhotoImageStage .stageContainer, .fbxPhoto .fbPhotoImageStage .buttonsContainer{width:100%}
.fbxPhoto .fbPhotoImageStage .fbPhotoPageError{text-align:left}
.fbPhotoImageStage .fbPhotosPhotoButtons .fbPhotosPhotoLike, .fbPhotoImageStage .fbPhotosPhotoButtons .tagButton{margin:6px}
.fbPhotoImageStage .fbPhotosPhotoButtons{bottom:0;color:#333;cursor:default;left:0;position:absolute;right:0;-moz-user-select:none;z-index:2}
.fbPhotoImageStage .imageStage{overflow:hidden;position:relative;width:720px}
.fbPhotoImageStage .fbPhotosPhotoButtons .saveProfilePicMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .tagMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .cropMessage{background-color:rgba(255, 255, 255, .8);color:#333;padding:6px 10px;vertical-align:middle}
.fbPhotoSnowlift.profilePicCroppingMode .profilePicViewportGrabby{z-index:3}
.profilePicSavingMode .profilePicViewportGrabby{display:none}
.fbxPhoto .fbPhotoImageStage .stageContainer{background-color:#f6f6f6;height:453px}
.imageLoading .fbPhotoImageStage .stageContainer{background:#f6f6f6 url(/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat center center}
.fbxPhoto .fbPhotoImageStage .stageWrapper{display:inline-block;position:relative}
.fbxPhoto .fbPhotoImage{display:inline-block;height:auto;image-rendering:optimizeQuality;max-height:720px;max-width:720px;vertical-align:middle;width:auto}
.taggingMode .fbPhotoImage{cursor:crosshair}
.fbPhotoViewLarger{opacity:.5;position:absolute;right:15px;top:15px;z-index:1}
.fbPhotoViewLarger:hover{cursor:pointer;opacity:1}
.fbxPhoto .fbPhotoImageStage .stageTagApproval, .fbxPhoto .fbPhotoImageStage .stageActions{cursor:pointer;height:0;left:0;position:absolute;top:0;width:0}
.fbxPhoto .fbPhotoImageStage .stageTagApproval{cursor:auto;width:100%}
.fbxPhoto .fbPhotoImageStage .stageButtons{position:relative;text-align:center}
.dataLoading .fbPhotoPageInfo .fbPhotoUfiCol *, .dataLoading .fbPhotoPageInfo .fbPhotoDataCol *{display:none}
.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
.taggingMode .fbPhotoTagger{cursor:crosshair}
.fbPhotoTagger{display:block;left:auto;position:absolute;right:auto;text-align:left;top:0;z-index:10}
.fbxPhoto .newTagBox{height:99px;left:auto;position:absolute;right:auto;top:0;width:99px}
.taggingMode .fbPhotosPhotoTagboxes .faceBox .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.active .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.otherActive .innerTagBox{visibility:visible}
.fbPhotosPhotoTagboxes .faceBox .innerTagBox{border:3px solid rgba(255, 255, 255, .25);border-radius:3px;box-shadow:0 0 2px rgba(0, 0, 0, .25), 0 0 5px rgba(0, 0, 0, .15) inset}
.fbPhotosPhotoTagboxes .faceBox.hover .innerTagBox{border-color:rgba(255, 255, 255, .75);box-shadow:0 0 5px rgba(0, 0, 0, .65), 0 0 4px rgba(0, 0, 0, .4) inset}
.fbPhotosPhotoTagboxes .faceBox.active .innerTagBox{border-color:transparent;box-shadow:none}
.fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .25);border-radius:3px;box-shadow:0 0 5px rgba(0, 0, 0, .75), 0 0 4px rgba(0, 0, 0, .5) inset;position:relative;visibility:visible}
.taggingMode .fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .9)}
.fbPhotoTagger .faceBoxHidden{border:3px solid transparent;box-shadow:none}
.profilePicCroppingMode .fbPhotosPhotoTagboxBase{display:none}
.profilePicCroppingMode .fbPhotoTagger{display:none}
.fbPhotoTagger .typeaheadWrapper{cursor:default;left:50%;position:absolute;top:100%}
.fbPhotoTaggerFlipped .typeaheadWrapper{bottom:100%;top:auto}
.fbPhotoTagger .typeaheadContainer{left:-50%;position:relative;top:4px}
.fbPhotoTaggerFlipped .typeaheadContainer{bottom:4px;top:auto}
.fbPhotoTagger .arrow{background-image:none;height:7px;position:absolute;top:-5px;width:100%;z-index:1}
.fbPhotoTaggerFlipped .arrow{display:none}
.fbPhotoTagger .arrow .nub{background-image:url(/rsrc.php/v2/y-/r/DUQLd4S9N62.png);background-repeat:no-repeat;background-size:auto;background-position:-109px -108px;height:7px;left:50%;margin-left:-6px;position:absolute;top:0;width:11px}
.fbPhotoTagger .typeaheadLabel{display:none}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop, .fbPhotoTagger .uiTypeaheadView{background:#fff;border:#333 solid 1px;padding:4px}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop{margin-top:6px}
.fbPhotoTagger.suggestionActive .typeaheadBackdrop{display:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop{margin-bottom:0;margin-top:auto}
.fbPhotoTaggerLeft .typeaheadBackdrop{margin-left:340px}
.fbPhotoTaggerRight .typeaheadBackdrop{margin-left:-280px;width:212px}
.fbPhotoTagger .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTaggerLeft ul{margin-left:340px}
.fbPhotoTaggerRight ul{margin-left:-280px;margin-right:0;width:220px}
.fbPhotoTagger .uiTypeaheadView{border-top:0;left:-5px;margin-top:2px;padding-top:0}
.fbPhotoTagger .photoTagTypeahead, .fbPhotoTagger .photoTagTypeahead .wrap{border-color:#ccc}
.fbPhotoTagger .photoTagTokenizer{width:212px}
.fbPhotoTagger .tokenarea{display:none}
.bulkEditTagger{display:block}
.bulkEditTagger .faceBox{border-width:3px;height:52px;width:52px}
.fbPhotoBulkEditor .newTagBox{height:60px;width:60px;z-index:2}
.fbxPhoto .newTagBox .tag{top:105%}
.uiTagTypeaheadView .compact{border-top:0;margin-top:0}
.uiTagTypeaheadView .compact .hintText{cursor:default;height:14px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText{background-color:#edeff4;border:1px solid #d8dfea;cursor:default;height:30px;margin-bottom:4px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText .subtext{color:gray;white-space:normal}
._56vv{display:inline-block;position:relative}
._56vw{position:absolute}
._56vw ._56vx{width:246px}
._56vy{height:65px}
._56vv ._56v-{display:inline;position:absolute;top:0;z-index:4}
._56vv ._56v_{left:0}
._56vv ._56w0{right:2px}
._2xo._56v-{display:none}
._5mt2 ._56vw ._56vx{width:205px}
._59lf ._56vv ._56w0, ._5mt2 ._56vv ._56w0{right:0}
._5mt2 .uiHeader.uiSideHeader{background-color:#e7ebf2 !important;border-bottom:0 !important;border-top:1px solid #ccd4e2 !important}
._5pxg{background-image:-moz-linear-gradient(bottom, #f0f4f9, #f4f6f9);display:block;height:23px;line-height:12px}
._59lf ._56vw ._56vx{width:290px}
.sp_3vjpuj{background-image:url(/rsrc.php/v2/yq/r/4AWJfIPdRhD.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d0f547{background-position:0 -24px}
.sx_eeda97{background-position:0 -41px}
.sx_4e4623{height:11px;background-position:0 -58px}
.sx_fc2dd7{height:10px;background-position:-16px -13px}
.selected .sx_fc2dd7{background-position:0 -13px}
.sx_2cd8f8{height:12px;background-position:-16px 0}
.selected .sx_2cd8f8{background-position:0 0}
.sx_195ae8{width:15px;background-position:-17px -24px}
.sx_8c5184{width:15px;background-position:-17px -41px}
.sx_269391{width:13px;height:13px;background-position:0 -70px}
.sp_au84t8{background-image:url(/rsrc.php/v2/yx/r/rcbc6GJHfE8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:10px;width:16px}
.sx_4c40b0{width:11px;height:11px;background-position:-4px -8px}
.sx_78c37f{background-position:0 -27px}
.flashFallbackButton{text-align:center}
.uiSelectorBottomUp .openToggler .uiSelectorButton,
.uiSelectorBottomUp .openToggler .uiSelectorButton:active,
.uiSelectorBottomUp .openToggler .uiSelectorButton:focus,
.uiSelectorBottomUp .openToggler .uiSelectorButton:hover,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:active,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:focus,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:hover{border:1px solid #3b5998;border-top-color:#6d84b4}
.uiSelectorBottomUp .uiSelectorMenuWrapper{bottom:100%;margin-bottom:-2px;top:auto}
._2xq{height:100%;position:relative}
._2xr, ._2xs{float:left}
._2xt._2xs{margin:0}
._2xo{display:none}
._2xu{height:100%;overflow:hidden;position:relative}
._2xv ._2xn._2xr{visibility:visible}
._2xv ._2xr{visibility:hidden;position:absolute}

#bootloader_SuvHk { height: 42px; }
.bootloader_SuvHk { display:block !important; }