/*!CK:2473077953!*//*1382732738,178191153*/

._5q6_{color:#6a7180;font-size:12px;font-weight:bold}
._5q70{padding:12px}
._5q71{border-bottom:1px solid #e9eaed;margin-bottom:8px;padding-bottom:8px}
._5q72{display:table-cell;height:276px;margin-top:4px;vertical-align:middle;width:412px}
._5q73{background:#f6f7f8;border-top:1px solid #e9eaed;padding:12px}
._5q74{margin-top:8px;padding-right:8px}
._5q74 textarea{width:100%}
._5e76{clear:left}
._5e76.fbTimelineTwoColumn{width:369px}
.sp_816e1e{background-image:url(/rsrc.php/v2/yO/r/Zb2oajW5PoA.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:34px}
.sx_31af2e{width:16px;height:12px;background-position:0 -375px}
.sx_6d7003{width:12px;background-position:-19px -261px}
.sx_ee0da1{width:12px;background-position:-19px -275px}
.sx_869063{width:13px;height:8px;background-position:-19px -331px}
.sx_030c2d{width:10px;background-position:-24px -210px}
.sx_41db20{width:10px;background-position:-19px -317px}
.sx_e9202f{width:16px;background-position:0 -347px}
.sx_1b0763{width:16px;background-position:-17px -347px}
.sx_261dca{width:14px;background-position:-19px -233px}
.sx_12d8ce{width:14px;background-position:-19px -247px}
.sx_da0da1{width:16px;background-position:0 -361px}
.sx_1da16b{width:16px;background-position:-17px -361px}
.sx_47b639{width:11px;background-position:-19px -289px}
.sx_9ef6ef{width:11px;background-position:-19px -303px}
.sx_69ae31{width:18px;height:18px;background-position:0 -233px}
.sx_d18c0e{width:18px;height:18px;background-position:0 -252px}
.sx_8ed17d{width:18px;height:18px;background-position:0 -271px}
.sx_adebc5{width:18px;height:18px;background-position:0 -290px}
.sx_469797{width:18px;height:18px;background-position:0 -309px}
.sx_752f93{width:18px;height:18px;background-position:0 -328px}
.sx_5dc435{height:34px;background-position:0 0}
.sx_62139f{height:34px;background-position:0 -35px}
.sx_0ea5ef{height:34px;background-position:0 -70px}
.sx_0f0cdd{height:34px;background-position:0 -105px}
.sx_12a97c{height:34px;background-position:0 -140px}
.sx_241c87{height:34px;background-position:0 -175px}
.sx_5dc3fe{width:11px;height:22px;background-position:0 -210px}
.sx_1077d1{width:11px;height:22px;background-position:-12px -210px}
.sp_e4pcet{background-image:url(/rsrc.php/v2/yF/r/U0t85uRUPNV.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_c7f0e1{width:63px;height:24px;background-position:0 0}
.sx_563452{background-position:0 -62px}
.sx_7b7817{background-position:-17px -62px}
.sx_5733fb{background-position:-34px -62px}
.sx_ca33ad{width:15px;height:17px;background-position:0 -44px}
.sx_0aaea2{width:15px;height:17px;background-position:-16px -44px}
.sx_ecea63{width:9px;height:4px;background-position:-50px -44px}
.sx_988427{height:14px;background-position:0 -79px}
.sx_f1d68e{width:18px;background-position:-19px -25px}
.sx_429829{width:17px;height:15px;background-position:-38px -25px}
.sx_800b85{width:17px;height:15px;background-position:-32px -44px}
.sx_d48888{width:18px;height:18px;background-position:0 -25px}
._53ii ._53iv{padding:12px}
._53ii ._53ij{border:0;border-radius:2px;box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35)}
._53ii ._572u{border-color:#d3d6db;margin:0 12px;padding:8px 0}
._53ii ._53il{padding-top:18px}
._53ii ._53im{padding-right:18px}
._53ii ._53ik{padding-bottom:18px}
._53ii ._53in{padding-left:18px}
._53ii ._53il ._53io{background-image:url(/rsrc.php/v2/yc/r/oa7aDV0gjwo.png);background-repeat:no-repeat;background-size:auto;background-position:-104px -20px;height:11px;top:7px;width:22px}
._53ii ._53im ._53io{background-image:url(/rsrc.php/v2/yO/r/Zb2oajW5PoA.png);background-repeat:no-repeat;background-size:auto;background-position:-12px -210px;height:22px;right:7px;width:11px}
._53ii ._53ik ._53io{background-image:url(/rsrc.php/v2/yL/r/p6FV-SxbpZT.png);background-repeat:no-repeat;background-size:auto;background-position:-136px -561px;bottom:5px;height:13px;width:22px}
._53ii ._53in ._53io{background-image:url(/rsrc.php/v2/yO/r/Zb2oajW5PoA.png);background-repeat:no-repeat;background-size:auto;background-position:0 -210px;height:22px;left:7px;width:11px}
._585n{background-color:#5890ff;border:1px solid #d1d2d5;border-radius:3px;overflow:hidden;padding:0 0 0 40px}
._585o{background-color:#da2929}
._585p{float:left;margin:9px 0 0 -29px}
._585r{background:#fff;margin:0;padding:9px 30px 9px 10px}
._585q{float:right;margin:12px 12px 0 0}
._585n a{color:inherit;font-weight:bold}

#bootloader_GoVlX { height: 42px; }
.bootloader_GoVlX { display:block !important; }