/*!CK:658107009!*//*1382324062,173217843*/

._5383, ._50nn, ._50nm, ._4kdq ._4-q5{display:none}
.fbChatSidebar ._4-q5{background:#31353e;border-bottom:1px solid #292b34;border-top:1px solid #383c45}
.fbChatSidebar ._4-q5:hover{border-bottom-color:#17191e;border-top-color:#2a2d33}
._4-q8{display:inline-block;height:50px;vertical-align:middle}
._511a{overflow:hidden}
.fbChatSidebar ._4-qd.fbFeedTicker .fbFeedTickerStory{display:none;max-height:50px;padding:5px 8px !important;vertical-align:middle;white-space:initial}
._4-qd .tickerMorePager{display:none}
.fbChatSidebar ._4-qd.fbFeedTicker ._4-q6{display:block}
._4-qd .tickerStoryBlock{display:inline-block;max-height:50px;position:relative;vertical-align:middle}
._4-qd .tickerStoryContent{overflow:hidden}
._511b{float:right;height:50px;line-height:50px;padding:0 3px 0 5px}
._4-q9{display:inline-block;vertical-align:middle}
._4-qb{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-208px -63px;height:9px;width:9px}
._4-qa{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-93px -126px;height:11px;margin-right:1px;width:7px}

#bootloader_vrNzO { height: 42px; }
.bootloader_vrNzO { display:block !important; }